@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.card > span {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 150px;
  height: 150px;
  /* background-color: #f00; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card > span::before {
  --color-bg: #62baea;
  --color-ft: #fff;

  content: "Best Value";
  position: absolute;
  width: 150%;
  height: 40px;
  background-color: var(--color-bg);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-ft);
  letter-spacing: 0.1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card > span::after {
  --color-bg: #4a98bf;

  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--color-bg);
  z-index: -1;
  box-shadow: 140px -140px var(--color-bg);
  /* 150px - 10 = 140 */
}
