* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}

.drop {
  position: relative;
  width: 150px;
  height: 150px;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.05), 15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drop::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 25px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.drop::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.logo-icon {
  width: 5em;
  height: 5em;
}

.ionicon-logo-apple {
  fill: #444;
}
